@page
@model AshtonCourtExercise.Pages.Sales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Car
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarSale[0].BuyerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarSale[0].SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarSale[0].SaleDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CarSale)
        {
            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.FindCarById(item.CarId).toString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
